@import url("/styles/style.css");


.About_Title{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 50px;
   font-family: var(--font-main);
}
.about_word{
    width: 100%;
}
.about_word h1{
   font-size: 100px;
   color: #000000;
   margin: 0;
   padding: 0;
   text-align: center;
   width: inherit;

}
.About_Title .Who_iam{
   font-size: 50px;
   line-gap-override: 1.5em; 
   text-align: center;
}
footer{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 50px;
}
footer .back{
   width: 70px;
   height: 70px;
   cursor: pointer;
   position: relative;
}
.back:before{
   content:"Back";
   position:absolute;
   font-weight: bolder;
   top:0;
   left:0;
   width:0%;
   overflow:hidden;
   transition:all 0.5s;
 }
 .back:hover:before{
   width:100%;
 }
 @media screen  and (max-width: 575.98px) {
   /* Your mobile styles */
   * {
     box-sizing: border-box;
    
   }
   .Container {
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr;
     height: auto;
     width: auto;
     padding: 0px;
     gap: 0px;
   }
   ._Header {
     display: flex;
     justify-content: space-between;
     font-size: small; 
     background-color: #4f6c5e; 
     width: 100%;
     height: fit-content;
     padding: 10px;
   }
   .About_Title{
     display: flex;
     flex-direction: column;
     align-items: center;
     height: auto;
     width: 100%;
     font-size: small;
   }
   .About_Title .Who_iam{
     font-size: 30px;
     line-gap-override: 1.5em; 
     text-align: center;
   }
   .About_Title .about_word h1{
     font-size: 50px;
     color: #000000;
     margin: 0;
     padding: 0;
     text-align: center;
     width: inherit;
   }
 }
 
 /* Small devices (576px to 767px) */
 @media (min-width: 576px) and (max-width: 767.98px) {
   /* Small devices styles */
   .Container {
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr ;
     height: auto;
     width: auto;
   }
   ._Header {
     display: flex;
     justify-content: space-between;
     font-size: small; 
     background-color: #4f6c5e; 
     width: 100%;
     height: fit-content;
     margin: 0px;
   }
 }
 
 /* Large devices (992px to 1199px) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
   /* Laptop styles */
   .Container {
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr ;
     height: auto;
     width: auto;
   }
   ._Header {
     display: flex;
     justify-content: space-between;
     background-color: #4f6c5e; 
     width: 100%;
     height: fit-content;
     margin: 0px;
   }
   
 }
 
 
 
 
 