@import url('/styles/style.css');
/* Container */
.Container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
   
}
  
.projectMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);  
}
.showCase{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    
}
.showCase h1{
    font-size: 52px;
    color: #000000;
    
}
.myProject{
    width: 100%;
    display: flex;
    justify-content: center;

}
.myProject ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-main);
}
.myProject ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: var(--font-main);
}
.back:before{
    content:"Back";
    position:absolute;
    font-weight: bolder;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:all 0.5s;
  }
  .back:hover:before{
    width:100%;
  }

.project-item {
    margin-block: 10px;
    font-size: 25px;
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
  }
  .project-item span:hover{
    transform: scale(1.1) translateY(-5px)  !important;
    text-shadow: 0 0 5px #000000,;
    transition: all 0.5s ease-in-out;
}
  .project-item-title {
    position: relative;
    color: black;
    text-align: center;
    font-size: larger;
  }
  
 