@import url('/styles/style.css');
* {

  letter-spacing: -1px;

}
/* Container */
.Container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
   
}
  
.projectMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);  
}
.showCase{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    
}
.showCase h1{
    font-size: 52px;
    color: #000000;
    
}
.myProject{
    width: 100%;
    display: flex;
    justify-content: center;

}
.myProject ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-main);
}
.myProject ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: var(--font-main);
}
.back:before{
    content:"Back";
    position:absolute;
    font-weight: bolder;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:all 0.5s;
  }
  .back:hover:before{
    width:100%;
  }

.project-item {
    margin-block: 10px;
    font-size: 25px;
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
  }
  .project-item span:hover{
    transform: scale(1.1) translateY(-5px)  !important;
    text-shadow: 0 0 5px #000000,;
    transition: all 0.5s ease-in-out;
}
  .project-item-title {
    position: relative;
    color: black;
    text-align: center;
    font-size: larger;
  }
  
  @media screen  and (max-width: 575.98px) {
    /* Your mobile styles */
    * {
      box-sizing: border-box;
     
    }
    .Container {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      height: auto;
      width: auto;
      padding: 0px;
    }
    ._Header {
      display: flex;
      justify-content: space-between;
      font-size: small; 
      width: 100%;
      padding: 10px;

    }
    .showCase{
        display: flex;
        justify-content: center;
        height: fit-content;
        
    }
    .showCase h1{
        font-size: 50px;
        text-align: center;
    }
    
  }
  
  /* Small devices (576px to 767px) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Small devices styles */
    .Container {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr ;
      height: auto;
      width: auto;
    }
    ._Header {
      display: flex;
      justify-content: space-between;
      font-size: small; 
      width: 100%;
      padding: 10px;
    }
    
  
  }
  /* Medium devices (768px to 991px) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Tablet styles */
    .Container {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr ;
      height: auto;
      width: auto;
    }
    ._Header {
      display: flex;
      justify-content: space-between;
      font-size: small; 
      width: 100%;
      margin: 0px;
      padding: 10px;
    }
    .showCase{
        display: flex;
        justify-content: center;
        margin-top: -50px;
        
    }
    
  }
  

  
  
  
  
  